# IDE
.vscode
.idea

# next.js build output
.next

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

# Dependency directories
node_modules/

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
lcov.info
lerna-debug.log
.yalc
